* {
    box-sizing: border-box;
    margin: 0;
}

#header{
    text-decoration: underline;
    text-align: center; 
}

.sport-button {
    text-align: center;
    padding-top: 0px;
    margin-right: 10px;
    margin-top: 10px;
}
